[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "==2.22.0"
certifi = "==2019.6.16"
chardet = "==3.0.4"
defusedxml = "==0.6.0"
django-allauth = "==0.39.1"
django-autocomplete-light = "==3.3.2"
django-cleanup = "==3.2.0"
django-crispy-forms = "==1.7.2"
django-debug-toolbar = "==1.11"
django-js-asset = "==1.2.2"
django-markdown2 = "==0.3.1"
django-mptt = "==0.10.0"
django-tagging = "==0.4.6"
idna = "==2.8"
markdown2 = "==2.3.8"
oauthlib = "==3.1.0"
python3-openid = "==3.1.0"
pytz = "==2018.9"
requests-oauthlib = "==1.2.0"
sorl-thumbnail = "==12.5.0"
sqlparse = "==0.3.0"
swapper = "==1.1.0"
urllib3 = "==1.25.3"
Django = "==2.1.11"
pillow = "*"

[requires]
python_version = "3.8"
