[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
sorl-thumbnail = ">=12.4.0"
django-autocomplete-light = ">=3.0"
django-tagging = "*"
swapper = "*"
lxml = "*"
Pillow = ">=5.4.1"
chardet = "*"
django-mptt = "*"
django-crispy-forms = ">=1.7.2"
django-allauth = "*"
django-cleanup = "*"
django = "~=2.2"
django-recaptcha = "*"
imagestore-mitoc = {editable = true,path = "C:/Users/haiya/Projects/imagestore-mitoc"}
psycopg2 = "*"
django-markdown2 = "*"

[requires]
python_version = "3.8"
