[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sorl-thumbnail = "*"
django-cleanup = "*"
swapper = "*"
django-tagging = "*"
chardet = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
