{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load imagestore_tags %}
{% load static %}

{% block imagestore-breadcrumb %}
    {% if album_ancestors %}
        {% for album in album_ancestors %}
            <li class="breadcrumb-item"><a href="{{ album.get_absolute_url }}">{{ album.name }}</a></li>
        {% endfor %}
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{% include "imagestore/image-scope.html" %}</li>
{% endblock %}

{% block title %}
    {% include "imagestore/image-scope.html" %}
{% endblock %}

{% block content %}
    <h3>
        {% include "imagestore/image-scope.html" %}
    </h3>
    {% include "imagestore/pagination.html" %}
    {% if album.tripreport %}
      <div class="image-description">
        {% load md2 %}{{ album.tripreport|markdown|linebreaks }}
      </div>
    {% endif %}

    {% if not album_list and not image_list %}<img src="{% static 'icons/emptyalbum.png' %}"/><br> This album is empty{% endif %}

    {% if album_list %}
    <hr>
    <h3>Sub-Albums</h3>
        <div class='album-list'>
            {% for album in album_list %}
                {% if album.get_head  or album.user == request.user %}
                <div class='album'>
                    <div class='album-head'>
                        <a href="{{ album.get_absolute_url }}">
                        {% if album.get_head %}
                            {% thumbnail album.get_head.image "128x128" crop='center' as album_head %}
                                <img class="preview" {% if album.name %} alt="{{ album.name }}" {% endif %} onerror=this.src="{% static 'icons/imgnotfound.png' %}" src="{{ album_head.url }}">
                                {% empty %}
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'icons/emptyalbum.png' %}"/>
                            [{% trans "Empty album" %}]

                        {% endif %}
                        <br>
                        <span class="album-name" title="{{ album.name }}">{{ album.name|truncatechars:30 }}</span>
                        {% if not view_user and IMAGESTORE_SHOW_USER %}
                            <br>
                            <span class="album-user">
                                {% trans "user" %}: {{ album.user }}
                            </span>
                        {% endif %}
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if image_list %}
        <!-- Modal -->
            <div class="modal fade" id="imageOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Options</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action" id="originalLink">View Original</a>
                      {% if request.user == album.user or perms.imagestore.moderate_albums %}
                        <a href="#" class="list-group-item list-group-item-action" id="editLink">Edit</a>
                        <a href="#" class="list-group-item list-group-item-action" id="deleteLink">Delete</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <div id ="image-thumbnails">
          <hr>
          <h3>Images</h3>
            {% for image in image_list %}
                <div class='image-preview'>
                {% thumbnail image.image "120x120" crop="center" as im %}
                    <a class="thumb" rel='gallery-image[ilist]' href="{{ image.image.url }}" title="{{ image.title }}" summary="{{ image.summary }}" user="{{ image.user }}" id="{{ image.pk }}">
                        <img class="preview" {% imagestore_alt image forloop.counter %} onerror=this.src="{% static 'icons/imgnotfound120.png' %}" src="{{ im.url }}">
                    </a>
                    <a href="{% include "imagestore/image-href.html" %}" title="{{ image.title }}">
                        {% if image.title %}
                            <br><span class='image-title'>{{ image.title|truncatechars:17 }}</span>
                        {% else %}
                            {% trans 'Info' %}
                        {% endif %}
                    </a>
                {% endthumbnail %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with user=view_user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and IMAGESTORE_SHOW_USER %}
        {% with user=album.user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block controls %}
    {% if album %}
        {% if request.user == album.user or request.user.is_superuser %}
            <li><a href={% url 'imagestore:upload-image-to-album' album_id=album.pk %}>{% trans "Upload Image to Album" %}</a></li>
            <li><a href='{% url 'imagestore:update-album' pk=album.pk %}'>{% trans "Edit Album" %}</a></li>
            <li><a href='{% url 'imagestore:delete-album' pk=album.pk %}'>{% trans "Delete Album" %}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}
